{# src/Acme/UserBundle/Resources/views/User/index.html.twig #}
{% extends '::base.html.twig' %}

{% block stylesheets %}
{{ parent() }}

{% endblock %}

{% block title %}Conti Tire Management - Admin - User{% endblock %}


{% block body %}
<h1>{% trans%}user.userlist{% endtrans %}

    <a class="btn" href="{{ path('user_new') }}">
        {% trans %}user.createuser{% endtrans %}
        <i class="icon-plus createcolor"></i>
    </a>

</h1>


<table class="table tablesorter">
    <thead>
        <tr>
            <th>{% trans %} user.lastname {% endtrans %}<span>&nbsp;</span></th>
            <th>{% trans %} user.firstname {% endtrans %}<span>&nbsp;</span></th>
            <th>{% trans %} user.username {% endtrans %}<span>&nbsp;</span></th>
            <th>{% trans %} user.email {% endtrans %}<span>&nbsp;</span></th>
            <th>{% trans %} user.region{% endtrans %}<span>&nbsp;</span></th>
            <th>{% trans %} groups{% endtrans %}<span>&nbsp;</span></th>
            <th>{% trans %} user.isactive {% endtrans %}</th>
            <th class="actionrow">&nbsp;</th>
        </tr>
    </thead>
    <tbody>

    {% for key, entitieset in entities %}
            {% for entity in entitieset %}
                {% if isAdmin or entity.deleted == 0 %}
                    <tr>
                        <td {% if isAdmin and entity.deleted == 1 %}class="removecolor"{% endif%}>{{ entity.lastname }}</td>
                        <td {% if isAdmin and entity.deleted == 1 %}class="removecolor"{% endif%}>{{ entity.firstname }}</td>

                         <td {% if isAdmin and entity.deleted == 1 %}class="removecolor"{% endif%}>{{ entity.username }}</td>
                         <td {% if isAdmin and entity.deleted == 1 %}class="removecolor"{% endif%}>{{ entity.email }}</td>
                         <td {% if isAdmin and entity.deleted == 1 %}class="removecolor"{% endif%}>{{ entity.region }}</td>
                         <td {% if isAdmin and entity.deleted == 1 %}class="removecolor"{% endif%}>{% for group in entity.groups %}{% if loop.first == false %}<br/>{% endif %} {{ group }}{% endfor %}</td>
                        <td><i class="{% if entity.isActive == 1 %}createcolor icon-ok{% else %}removecolor icon-remove{% endif %}"></i></td>


                        <td class="actionrow">
                             {% if entity.deleted == 0 %}
                                 <ul class="actionlist">
                                     <li>
                                         <a href="{{ path('user_edit', { 'id': entity.id }) }}" rel="tooltip" title="{% trans %}edit{% endtrans %}"><i class="icon-pencil"></i></a>
                                     </li>
                                     <li>
                                         <form action="{{ path('user_activate', { 'id': entity.id }) }}" method="post">
                                             {{ form_widget(entity.activateForm) }}
                                             {% if entity.isactive %}
                                                <a href="#" class="submitform" rel="tooltip" title="{% trans %}deactivate{% endtrans %}"><i class="icon-eye-close"></i></a>
                                             {% else %}
                                                <a href="#" class="submitform" rel="tooltip" title="{% trans %}activate{% endtrans %}"><i class="icon-eye-open"></i></a>
                                             {% endif %}
                                         </form>
                                     </li>
                                     {% if isAdmin %}
                                     <li>
                                         <form action="{{ path('user_delete', { 'id': entity.id }) }}" method="post">
                                             {{ form_widget(entity.deleteForm) }}
                                             <a href="#" class="submitform" rel="tooltip" title="{% trans %}delete{% endtrans %}"><i class="icon-trash"></i></a>
                                         </form>
                                     </li>
                                    {% endif %}
                                {% endif%}
                             </ul>
                         </td>
                     </tr>
                {% endif %}
            {% endfor %}
    {% endfor %}
    </tbody>
</table>
{% endblock %}