<h1>User</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Firstname</th>
            <td>{{ entity.firstName }}</td>
        </tr>
        <tr>
            <th>Lastname</th>
            <td>{{ entity.lastName }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ entity.email }}</td>
        </tr>
        <tr>
            <th>Username</th>
            <td>{{ entity.username }}</td>
        </tr>
        <tr>
            <th>Algorithm</th>
            <td>{{ entity.algorithm }}</td>
        </tr>
        <tr>
            <th>Salt</th>
            <td>{{ entity.salt }}</td>
        </tr>
        <tr>
            <th>Password</th>
            <td>{{ entity.password }}</td>
        </tr>
        <tr>
            <th>Isactive</th>
            <td>{{ entity.isActive }}</td>
        </tr>
        <tr>
            <th>Settings</th>
            <td>{{ entity.settings }}</td>
        </tr>
        <tr>
            <th>Issuperadmin</th>
            <td>{{ entity.isSuperAdmin }}</td>
        </tr>
        <tr>
            <th>Lastlogin</th>
            <td>{{ entity.lastLogin|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Createdat</th>
            <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Updatedat</th>
            <td>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('admin_user') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_user_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('admin_user_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
