{# src/Acme/SecurityBundle/Resources/views/Security/login.html.twig #}
{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block title %}Conti Tire Management - My profile{% endblock %}


{% block body %}
    <h1>{% trans%}navigation.myprofile{% endtrans %}</h1>
    <div class="row-fluid">
        <div class="span6">
            <form class="form-horizontal" action="{{ path('user_updateprofile', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>

                {{ form_errors(edit_form) }}

                {% if updated is defined and updated == true %}
                    <div class="alert alert-success">
                        <a class="close" data-dismiss="alert" href="#">×</a>
                        {% trans %}myprofile.updated{% endtrans %}
                    </div>
                {% endif %}

                <div class="control-group">
                    <label class="control-label">{% trans %}user.username{% endtrans %}</label>
                    <div class="controls">
                        <p class="help-inline">{{ entity.username }}</p>
                    </div>
                </div>

                <div class="control-group">
                    <span class="control-label">{% trans %}user.email{% endtrans %}</span>
                    <div class="controls">
                        {{ entity.email }}
                    </div>
                </div>

                <div class="control-group">
                    <span class="control-label">{% trans %}user.region{% endtrans %}</span>
                    <div class="controls">
                        {{ entity.region }}
                    </div>
                </div>
                {% if isTranslator and not isAdmin %}
                    <div class="control-group">
                        <span class="control-label">{% trans %}Language{% endtrans %}</span>
                        <div class="controls">
                            {{ entity.language.iso2|trans }}
                        </div>
                    </div>
                {% else %}
                    {{ form_row( edit_form.Language) }}
                {% endif %}
                {{ form_widget(edit_form.file)}}
                {{ form_rest(edit_form) }}

                <div class="buttons">
                    <a href="#" class="submitform btn">{% trans %}save{% endtrans %} <i class="icon-plus createcolor"></i></a>

                </div>
            </form>
        </div>
        <div class="span6">
            {%if entity.file != null %}
                <img src="{{path('file_show',{'id':entity.file.id,'type':'prev','height':'150'})}}" alt="{% trans %}myprofile.myimage {% endtrans %}"  />
            {% endif %}
        </div>
    </div>
{% endblock %}