{# src/Acme/SecurityBundle/Resources/views/Security/login.html.twig #}
{% extends '::base.html.twig' %}

{% block stylesheets %}
{{ parent() }}

{% endblock %}

{% block title %}Conti Tire Management - Admin - Group{% endblock %}


{% block body %}


<h1>{% trans %}group.edit{% endtrans %}</h1>

<form class="form-horizontal" action="{{ path('group_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}

    <div class="buttons">

        <a class="btn" href="{{ path('group') }}">
            <i class="icon-remove removecolor"></i>
            {% trans %}cancel{% endtrans %}
        </a>

        <a href="#" class="submitform btn">{% trans %}save{% endtrans %} <i class="icon-plus createcolor"></i></a>

    </div>
</form>

{% if isAdmin %}
<form action="{{ path('group_delete', { 'id': entity.id }) }}" method="post">
    {{ form_widget(delete_form) }}
    <a href="#" class="submitform btn"><i class="icon-trash"></i>{% trans %}delete{% endtrans %}</a>
</form>
{% endif %}
{% endblock %}