{# src/Acme/SecurityBundle/Resources/views/Security/login.html.twig #}
{% extends '::base.html.twig' %}

{% block stylesheets %}
{{ parent() }}

{% endblock %}

{% block title %}Conti Tire Management - Admin - Group{% endblock %}

{% block body %}
<h1>{% trans%}group.grouplist{% endtrans %}

    <a class="btn" href="{{ path('group_new') }}">
        {% trans %}group.creategroup{% endtrans %}
        <i class="icon-plus createcolor"></i>
    </a>

</h1>

<table class="table">
    <thead>
        <tr>
            <th>{% trans %}group.name {% endtrans %}<span>&nbsp;</span></th>
            <th>{% trans %}group.role {% endtrans %}<span>&nbsp;</span></th>
            <th class="actionrow">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
    {% for key, entitieset in entities %}
        {% for entity in entitieset %}
        <tr>
                <td>{{ entity.name }}</td>
                <td>{{ entity.role }}</td>
                <td class="actionrow">
                    <ul class="actionlist">
                        <li>
                            <a href="{{ path('group_edit', { 'id': entity.id }) }}" rel="tooltip" title="{% trans %}edit{% endtrans %}"><i class="icon-pencil"></i></a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
    {% endfor %}
    </tbody>
</table>
{% endblock %}