{# src/WB/CoreBundle/Resurces/views/nav/index.html.twig #}
{% extends '::base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('/js/jobindex.js') }}" type="text/javascript"></script>
{% endblock %}

{% block title %}Workbook 2.0 {% endblock %}


{% block body %}


     <!-- Only required for left/right tabs -->
    <ul class="job_overview">
        <li >
            <a href="#ownJobs"    data-toggle="ownJobs" data-table="ownJobs"class="job_overview_item_head ">

                {% trans %}ownJobs{% endtrans %} ({{ ownJobs|length }})  <img class="loading" src="{{ asset('img/ajax-loader.gif') }}"> </a>

                {% include 'WBCoreBundle:Job:table.html.twig'
                with {'id': 'ownJobs','mark':1}
                %}



        </li>
        <li >
            <a href="#openJobs"    data-toggle="openJobs" data-table="openJobs" class="job_overview_item_head ">

                {% trans %}openJobs{% endtrans %} ({{ openJobs|length }})   <img class="loading" src="{{ asset('img/ajax-loader.gif') }}"> </a>


            {% include 'WBCoreBundle:Job:table.html.twig'
            with {'id': 'openJobs','mark':1}
            %}
        </li>

        <li >
            <a href="#sheduledJobs"    data-toggle="sheduledJobs"  class="job_overview_item_head ">

                {% trans %}sheduledJobs{% endtrans %} </a>
            <div class="job_overview_item_content " id="sheduledJobs"  >
            <ul>
                {% for key,entities in sheduledJobs %}
                <li >
                    <a href="#{{ key }}"  data-toggle="{{key}}" data-table="sheduledJobs" class="job_overview_item_head ">

                    {{ entities.user.firstname }} {{ entities.user.lastname  }}  ({{ entities.jobs|length }})  <img class="loading" src="{{ asset('img/ajax-loader.gif') }}"> </a>

                    {% include 'WBCoreBundle:Job:table.html.twig'
                    with {'id': key ,'mark':1}
                    %}
                </li>
                {% endfor %}
            </ul>
            <div>

        </li>
        <li >
            <a href="#finishedJobs"    data-toggle="finishedJobs" data-table="finishedJobs"  class="job_overview_item_head ">

                {% trans %}finishedJobs{% endtrans %} ({{ finishedJobs|length }})   <img class="loading" src="{{ asset('img/ajax-loader.gif') }}"> </a>


            {% include 'WBCoreBundle:Job:table.html.twig'
            with {'id': 'finishedJobs','mark':0}
            %}
        </li>


    </ul>





{% endblock %}