{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('/js/job.js') }}" type="text/javascript"></script>
{% endblock %}
            
{% block title %}Workbook 2.0 {% endblock %}

{% block body %}

    {% render 'WBCoreBundle:Job:dropdown' with {'id': entity.id } %}
    


        <div class="job background">
            <div class="job_header_left">
                <div class="box"><h3>Auftragsnummer</h3> {{ entity.id }}</div>
                <div class="box"><h3>Status</h3>

                       {% if entity.jobState.id == 1 %}
                        {{entity.jobState}} <img src="/img/glyphicons_png/glyphicons_204_unlock.png"/>
                        {% elseif entity.jobState.id == 2 %}
                       {{entity.jobState}} <img src="/img/glyphicons_png/glyphicons_203_lock.png"/>
                        {% endif %}

                </div>
                <div class="box"><h3>Typ</h3> {{entity.jobType}} </div>

                <div class="box"><h3>Ende</h3>{{ entity.end|date("d.m.y H:i") }}</div>
                <div class="box"><h3>Beginn</h3>{{ entity.start|date("d.m.y H:i") }} </div>
            </div>
            <div class="job_header_right">

                <div class="box">
                    <div>
                        <h3>{% trans %}job.company{% endtrans %}</h3>

                    </div>
                    <div>
                        {{ entity.Address.customer.company }}
                    </div>


                </div>

                <div class="box">
                    <div>
                        <h3> {% trans %}job.address{% endtrans %}</h3>
                    </div>
                    <div>

                        {% if  entity.Address.number %} {% trans %}job.Storenumber{% endtrans %} {{ entity.Address.number}} {% endif %}
                        <address> {{ entity.Address.street }} <br>
                            {{ entity.Address.postcode }} {{ entity.Address.city  }} {{ entity.Address.destrict }} <br>

                            Tel. {{ entity.Address.fon }}  <br>
                            Fax. {{ entity.Address.fax }}
                        </address>
                    </div>
                </div>

                <div class="box">
                    <div>
                        <h3> {% trans %}job.contactPerson{% endtrans %}</h3>
                    </div>
                    <div>
                        {{ entity.contactPerson }}
                    </div>
                </div>

                <div class="box">
                    <div>
                        <h3> {% trans %}job.contactInfo{% endtrans %}</h3>
                    </div>
                    <div>

                        {{ entity.contactInfo }}
                    </div>

                </div>


               <div class="box">
                   <div>
                       <h3> {% trans %}job.map{% endtrans %}</h3>
                   </div>
                   <div>
                   GOOGLEMAPS
                   </div>
                   
               </div>
            </div>
            <div class="job_content">
                <div class="box">
                    <h3>Auftrag</h3> <br>{{ entity.description |raw}}
                </div>
                <div class="box">
                    <h3>Dateien</h3>
                    <table class="filelist">
                        <tr>
                            <th>test.pdf</th>
                            <td>100kb</td>
                            <td><a href="#"><img src="/img/glyphicons_png/glyphicons_051_eye_open.png"/> ansehen</a></td>
                            <td><a href="#">download</a> </td>
                        </tr>
                        <tr>
                            <th>test.pdf</th>
                            <td>100kb</td>
                            <td><a href="#"><img src="/img/glyphicons_png/glyphicons_051_eye_open.png"/> ansehen</a></td>
                            <td><a href="#">download</a> </td>
                        </tr>
                        {% for file in entity.file %}
                            <tr>
                                <td>file.name</td>
                                <td>(*DATEIGRÖ?E*)</td>
                                <td>(*ANSEHNBUTTON*)</td>
                                <td>(*DOWN_BUTTON*)</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="box">
                    <button class="btn"><img src="/img/glyphicons_png/glyphicons_062_paperclip.png"/> Neue Datei</button>
                </div>
            </div>
            <div class="job_fooder">
                <div class="dates">
                    <div class="box">
                        erstellt am {{ entity.createdAt|date("d.m.y H:i") }}
                    </div>
                    <div class="box">
                        zuletzt geändert am {{ entity.updatedAt|date("d.m.y H:i") }}
                    </div>
                </div>

                <ul class="job_fooder_buttons_left">
                    <li><button class="btn">zurück</button></li>
                    <li><a href="{{ path('job_edit', { 'id': entity.id }) }}" class="btn">ändern</a></li>
                </ul>
                <ul class="job_fooder_buttons_right">

                    <li><button class="btn">Auftrag abschließen</button></li>
                </ul>
            </div>
        </div>





    <div class="background tasks">
        <h3>Termine</h3>
        <ul>
            <li><a class="btn" href="{{ path('task_new', { 'type':'job' , 'id': entity.id }) }}">Neuer Termin</a> </li>
        </ul>
        {% if scheduledTasks|length > 0 %}
        <table class="job_task_table">
            <colgroup>
                <col width="10%">
                <col width="10%">
                <col width="40%">
                <col width="10%">
            </colgroup>
            <thead>
                <tr>
                <th> {% trans %}task.start{% endtrans %}</th>
                <th>{% trans %}task.end{% endtrans %}</th>
                <th>{% trans %}task.scheduled{% endtrans %}</th>
                <th>{% trans %}task.created{% endtrans %}</th>
                </tr>
            </thead>

            {% for task in scheduledTasks  %}

                    <td>{{ task.start|date("d.m.y H:i")  }}</td>

                    <td>{{ task.end|date("d.m.y H:i")  }}</td>

                    <td>
                        <ul>
                        {% for user in task.user %}
                        <li>{{ user.firstname }} {{ user.lastname }}</li>
                        {% endfor %}
                        </ul>
                    </td>

                    <td>{{ task.createdAt|date("d.m.y H:i")  }}</td>
                    <td>
                        <div class="btn-toolbar">
                            <div class="btn-group">
                                <a class="btn btn-small" href="{{ path('task_edit', { 'id': task.id }) }}"><i class=" icon-wrench"></i> {% trans %}edit{% endtrans %}</a>
                                <form>
                                    <submit class="btn btn-small" href="#"><i class=" icon-remove"></i> {% trans %}delete{% endtrans %}</submit>
                                </form>
                                <form>
                                    <submit class="btn btn-small" href="#"><i class=" icon-remove"></i> {% trans %}task.finish{% endtrans %}</submit>
                                </form>

                            </div>
                        </div>

                    </td>
                </tr>
            {% endfor %}
        </table>

        {% endif %}

        {% if finishedTasks|length > 0 %}
        <h3>Arbeiten</h3>

        <table class="job_task_table">
            <colgroup>
                <col width="10%">
                <col width="10%">
                <col width="40%">
                <col width="10%">
                <col width="10%">
                <col width="10%">
                <col width="10%">
            </colgroup>

            <thead>
            <tr>
                <th > {% trans %}task.start{% endtrans %}</th>
                <th >{% trans %}task.end{% endtrans %}</th>
                <th >{% trans %}task.work{% endtrans %}</th>
                <th >{% trans %}task.time{% endtrans %}</th>
                <th>{% trans %}task.overtime{% endtrans %}</th>
                <th >{% trans %}task.scheduled{% endtrans %}</th>
                <th >{% trans %}task.created{% endtrans %}</th>
            </tr>



            </thead>
            <tbody>
            {% for task in finishedTasks  %}
                <tr data-url="{{ path('task_edit', { 'id': task.task.id }) }}">

                    <td>{{ task.task.start|date("d.m.y H:i")  }}</td>

                    <td>{{ task.task.end|date("d.m.y H:i")  }}</td>

                    <td>{{ task.task.info  }}</td>
                    <td style="text-align: right">{{ task.time}}</td>
                    <td>{{ task.task.overtime  }}</td>
                    <td>
                        <ul>
                            {% for user in task.task.user %}
                                <li>{{ user.firstname }} {{ user.lastname }}</li>
                            {% endfor %}
                        </ul>
                    </td>

                    <td>{{ task.task.updatedAt|date("d.m.y H:i")  }}</td>

                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            {% if overtime > 0 %}
             <tr>
                <td></td>
                <td></td>

                <th>{% trans %}task.summary_seperate{% endtrans %}</th>
                <td style="text-align: right; padding-right: 10px;" >{{ work  }}</td>
                <td>{{ overtime  }}</td>
                <td></td>
            </tr>
            {% endif %}
            {% if work > 0 %}
            <tr>
                <td></td>

                <td></td>
                <th>{% trans %}task.summary{% endtrans %}</th>
                <td colspan="2">{{ work +  overtime}}</td>

                <td></td>
            </tr>
            {% endif %}
            </tfoot>

        </table>
        {% endif %}

    </div>

    <div class="background material">
        <h3>Material</h3>


        <table class="job_item_table">

            <colgroup>
                <col class="col1" >
                <col class="col2" >
                <col class="col3" >
                <col class="col4" >
                <col class="col5" >
            </colgroup>
            <thead>
            <tr>
                <th>ID</th>
                <th colspan="2">{% trans %}task.amount{% endtrans %}</th>
                <th>{% trans %}task.code{% endtrans %}</th>
                <th>{% trans %}task.description{% endtrans %}</th>
            </tr>

            </thead>
            <tbody
            {% for item in items  %}

                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ item.amount }}</td>
                    <td style="border-left: none">{{ item.item.unit }}</td>
                    <td>{{ item.item.code }}</td>
                    <td>{{ item.item.description }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}


{% block body2 %}
<h1 style="background-color: black; outline:1px grey solid;">Job</h1>

<div  style="background-color: black; outline:1px grey solid;">
    <table class="record_properties">


        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>

            </tr>
            <tr>
                <th>Contactperson</th>
                <td>{{ entity.contactPerson }}</td>
            </tr>
            <tr>
                <th>Contactinfo</th>
                <td>{{ entity.contactInfo }}</td>
            </tr>
            <tr>
                <th>End</th>
                <td>{{ entity.end|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Start</th>
                <td>{{ entity.start|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Timeed</th>
                <td>{{ entity.timeed|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Timeinterval</th>
                <td>{{ entity.timeinterval }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Createdfrom</th>
                <td>{{ entity.createdFrom }}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Updatedfrom</th>
                <td>{{ entity.updatedFrom }}</td>
            </tr>
        </tbody>
    </table>
</div>

<ul class="record_actions">
    <li>
        <a href="{{ path('job') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('job_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('job_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
                <button type="submit">Delete</button>
            </form>
        </li>
    </ul>
{% endblock %}