{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('/js/job.js') }}" type="text/javascript"></script>
{% endblock %}
            
{% block title %}Workbook 2.0 {% endblock %}

{% block body %}
<div class="text1">
    {% render 'WBCoreBundle:Job:dropdown' with {'id': entity.id } %}
    <div class="background"><a href="link">offene Aufträge in der Filiale (*VAR*)</a></div>
    <div class="background"><a href="link">erledigte Aufträge(*VAR*)</a></div>



        <div class="job background">
            <div class="job_header_left">
                <div class="box"><h3>Auftragsnummer</h3> {{ entity.id }}</div>
                <div class="box"><h3>Status</h3>

                        {% if entity.jobState.id == 1 %}
                        {{entity.jobState}} <img class="bild" src="/img/glyphicons_png/glyphicons_204_unlock.png"/>
                        {% elseif entity.jobState.id == 2 %}
                       {{entity.jobState}} <img class="bild" src="/img/glyphicons_png/glyphicons_203_lock.png"/>
                        {% endif %}

                </div>
                <div class="box"><h3>Typ</h3> {{entity.jobType}} </div>

                <div class="box"><h3>Ende</h3>{{ entity.end|date("d.m.y H:i") }}</div>
                <div class="box"><h3>Beginn</h3>{{ entity.start|date("d.m.y H:i") }} </div>
            </div>
            <div class="job_header_right">

                <div class="box">

                        <h3>Auftraggeber</h3>
                        {{ entity.Address.customer.company }}
                </div>

                <div class="box"><h3> Adresse</h3>

                        <address> {{ entity.Address.street }} {{ entity.Address.number  }}<br>
                        {{ entity.Address.postcode }} {{ entity.Address.city  }} {{ entity.Address.destrict }} <br>

                        {{ entity.Address.fon }} {{ entity.Address.fax }}
                        </address>
                </div>


               <div class="box">
                        (*GOOGLEMAPS*)
               </div>
            </div>
            <div class="job_content">
                <div class="box">
                    <h3>Auftrag</h3> <br>{{ entity.description }}
                </div>
                <div class="box">
                    <h3>Dateien</h3>
                    <table class="filelist">
                        <tr>
                            <th>test.pdf</th>
                            <td>100kb</td>
                            <td><a href="#">ansehen</a></td>
                            <td><a href="#">download</a> </td>
                        </tr>
                        <tr>
                            <th>test.pdf</th>
                            <td>100kb</td>
                            <td><a href="#">ansehen</a></td>
                            <td><a href="#">download</a> </td>
                        </tr>
                        {% for file in entity.file %}
                            <tr>
                                <td>file.name</td>
                                <td>(*DATEIGRÖ?E*)</td>
                                <td>(*ANSEHNBUTTON*)</td>
                                <td>(*DOWN_BUTTON*)</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="box">
                    <button>Neue Datei</button>
                </div>
            </div>
            <div class="job_fooder">
                <div class="dates">
                    <div class="box">
                        erstellt am {{ entity.createdAt|date("d.m.y H:i") }}
                    </div>
                    <div class="box">
                        zuletzt geändert am {{ entity.updatedAt|date("d.m.y H:i") }}
                    </div>
                </div>

                <ul class="job_fooder_buttons_left">
                    <li><button>zurück</button></li>
                    <li><button>ändern</button></li>
                </ul>
                <ul class="job_fooder_buttons_right">

                    <li><button>Auftrag abschließen</button></li>
                </ul>
            </div>
        </div>



    </div>

    <div class="background tasks">
        <h3>Termine</h3>
    </div>

    <div class="background material">
        <h3>Material</h3>
    </div>

{% endblock %}


{% block body2 %}
<h1 style="background-color: black; outline:1px grey solid;">Job</h1>

<div  style="background-color: black; outline:1px grey solid;">
    <table class="record_properties"> 
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>

            </tr>
            <tr>
                <th>Contactperson</th>
                <td>{{ entity.contactPerson }}</td>
            </tr>
            <tr>
                <th>Contactinfo</th>
                <td>{{ entity.contactInfo }}</td>
            </tr>
            <tr>
                <th>End</th>
                <td>{{ entity.end|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Start</th>
                <td>{{ entity.start|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Timeed</th>
                <td>{{ entity.timeed|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Timeinterval</th>
                <td>{{ entity.timeinterval }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Createdfrom</th>
                <td>{{ entity.createdFrom }}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Updatedfrom</th>
                <td>{{ entity.updatedFrom }}</td>
            </tr>
        </tbody>
    </table>
</div>

<ul class="record_actions">
    <li>
        <a href="{{ path('job') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('job_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('job_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
                <button type="submit">Delete</button>
            </form>
        </li>
    </ul>
{% endblock %}